dj-database-url==2.1.0
Django==3.2.15
django-debug-toolbar==3.2.1
django-phonenumber-field==3.0.0
djangorestframework==3.14.0
environs==9.5.0
geopy==2.4.1
phonenumbers==8.13.23
Pillow==10.1.0
requests==2.31.0
rollbar==1.0.0
psycopg2_binary==2.9.9
gunicorn==21.2.0
